body {
    padding-top: 70px;
    overflow: hidden;
}

/*Start Section Tool Box*/
.option-box {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
}

.option-box .color-option {
    width: 200px;
    float: left;
    background-color: rgba(2, 2, 2, 0.7);
    color: #fff;
    padding: 10px;
    border: 2px solid;
    display: none;
}

.option-box .color-option ul li {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}

.option-box .gear-check {
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.8;
}

.option-box .gear-check:hover {
    opacity: 1;
}

/*End Section Tool Box*/

/*Start Navbar*/
.navbar {
    min-height: 70px;
}

/*Active Link*/
/*Navbar Link && Brand Name*/
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #BBB;
}

/*Links*/
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}

.navbar-brand {
    font-size: 30px;
    line-height: 40px;
}

/*Mobile navbar*/
.navbar-toggle {
    margin-top: 18px;
}

/*DropDown*/
.dropdown-menu {
    border: none;
    border-top: 3px solid #eee;
    background-color: #333;
    min-width: 200px;
}

.dropdown-menu>li>a {
    color: #fff;
    padding: 6px 20px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    padding-left: 27px;

}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

/*End Navbar*/
/*Start Carousal*/
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    height: 90vh;
    width: 100%;
}

.carousel-caption {
    top: 100px;
    bottom: auto;
    background-color: rgba(34, 34, 34, 0.5);
    padding: 30px 20px;
    border-radius: 5px;
    border-left: 3px solid;
}

.carousel-caption .lead {
    color: #bbb;
    margin-bottom: 0;
    padding: 20px 0;
}

.carousel-caption .btn {
    width: 100px;
    margin: 0 5px;
}

.carousel-indicators li {
    height: 12px;
    width: 12px;
}

.carousel-indicators .active {
    border: 1px solid;
    height: 15px;
    width: 15px;
}

/*End Carousal*/

/*Start Section About*/
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about h1,
.about h3 {
    font-weight: bold;
}

.about .lead {
    color: #888;
    font-size: 25px;
    margin-top: 15px;
}

/*End Section About*/

/*Start Section Features*/
.features {
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features .h1 {
    margin-bottom: 50px;
}

.features .feat {
    margin-bottom: 30px;
}

.feat p {
    line-height: 2em;
}

.feat span.glyphicon {
    font-size: 25px;
    margin-bottom: 10px;
}

/*End Section Features*/

/*Start Testimonials*/
.testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials .h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.testimonials .lead {
    line-height: 2em;
    /*(font-size:16px >>> 2em ==32px)*/
    margin-bottom: 10px;
}

.testimonials span {
    font-size: 18px;
    font-weight: bold;
}

.testimonials .carousel-inner {
    min-height: 160px;
}

.testimonials .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}

.testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonials .carousel-indicators li.active {
    width: 80px;
    height: 80px;
    opacity: 1;
    border: 2px solid;
    background: none;
}

.testimonials .carousel-indicators li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonials .carousel-indicators li:hover {
    opacity: 1;
}

/*End Testimonials*/

/*Start Section Price Table*/
.price-table {
    background-color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.price-table .h1 {
    margin-bottom: 40px;
    font-weight: bold;
}

.price-table .price-box {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.price-table .price-box:hover p {
    -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
    border-color: #DFDFDF;
}

.price-table .price-box h2 {
    margin: 5px 0 15px;
}

.price-table .price-box p {
    font-size: 35px;
    font-weight: bold;
    color: #666;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F3F3F3;
    line-height: 100px;
    border: 2px solid #fff;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.price-table .price-box ul {
    line-height: 250%;
    font-size: 18px;
}

.price-table .price-box a {
    margin-bottom: 5px;
}

/*End Section Price Table*/

/*Start Section Our Team*/
.our-team {
    min-height: 600px;
    width: 100%;
    background-image: url(../images/our-teamx.jpg);
    overflow: hidden;
}

.our-team .h1 {
    margin-bottom: 60px;
}

.our-team .team {
    background-color: rgba(2, 2, 2, 0.8);
    color: #fff;
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our-team .team .person {
    margin-bottom: 40px;
}

.our-team .team .person h3 {
    padding-top: 15px;
}

.our-team .team .person img {
    width: 100%;
    height: 300px;
    filter: grayscale(1);
}

.our-team .team .person img:hover {
    transform: scale(1.1, 1.1);
    filter: grayscale(0) drop-shadow(2px 4px 5px #555);
}

.our-team .team .person .fa {
    padding-left: 5px;
    padding-right: 5px;
}

.our-team .team .person .fa-twitter {
    color: #1da1f2;
}

.our-team .team .person .fa-google-plus {
    color: #dd4b39;
}

.our-team .team .person .fa-youtube {
    color: #ff0000;
}

.our-team .team .person .fa-facebook {
    color: #3b5998;
}

/*End Section Our Team*/

/*Start Section Subscribe*/
.subscribe {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #eee;
    overflow: hidden;
}

.subscribe .h1 {
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.subscribe p {
    margin-bottom: 30px;
}

.subscribe .form-control {
    border-radius: 0;
    margin-right: -5px;
    width: 300px;
}

.subscribe .btn {
    border-radius: 0;
}

/*End Section Subscribe*/

/*Start Section Statistics*/

.statistics {
    min-height: 300px;
    background-image: url(../images/statistics.jpg);
}

.statistics .h1 {
    margin-bottom: 60px;
}

.statistics .data {
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: rgba(2, 2, 2, 0.8);
    color: #B6B5B5;
}

.statistics .data .stats {
    margin-bottom: 30px;
}

.statistics .data .stats:hover {
    color: #fff;
}

.statistics .data p {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
}

.statistics .data span {
    font-size: 18px;
}

/*End Section  Statistics*/

/*Start Section Skills*/
.our-skills {
    padding-top: 40px;
    padding-bottom: 70px;
}

.our-skills .h1 {
    margin-bottom: 60px;
}

.our-skills h3 {
    margin-top: 0;
    font-weight: bold;
}

.our-skills .skills-progress .progress {
    height: 36px;
}

.our-skills .skills-progress .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

/*End Section Skills*/

/*Start Section Contact US*/
.contact-us {
    min-height: 300px;
    background-image: url(../images/contact-us.jpg);
}

.contact-us .fields {
    background-color: rgba(9, 9, 9, 0.8);
    min-height: 300px;
    color: #ddd;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-us p {
    margin-bottom: 40px;
}

.contact-us textarea {
    height: 108px;
    resize: none;
}

.contact-us input[type="text"],
.contact-us textarea {
    background-color: rgba(82, 78, 78, 0.7);
    color: #fff;
    border: none;
}

/*End Section Contact US*/

/*Start Section Our Clients*/
.our-clients {
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.our-clients img {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.our-clients img:hover {
    opacity: 1;
}

/*End Section Our Clients*/

/*Start Footer*/
.footer {
    background-color: #111;
    color: #aaa;
    padding-top: 10px;

}

.footer a {
    color: #aaa;
}

.footer a:hover {
    color: #fff;
}

.footer h3 {
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

.footer .three-columns {
    overflow: hidden;
}

.footer .three-columns li {
    width: 33.3333%;
    float: left;
    padding: 14px 0;
}

.footer .social-list {
    overflow: hidden;
    margin: 20px 0 10px;
}

.footer .social-list li {
    float: left;
    margin-right: 5px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.footer .social-list li:hover {
    opacity: 1;
}

.footer .our-projects img {
    width: 150px;
    height: 100px;
}

.footer .our-projects .img-thumbnail {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
}

.footer .copyright {
    background-color: #333;
    color: #aaa;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 16px;
}

/*End Footer*/

/*Start Section Loading*/
.loading-overlay {
    background-color: #222;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loader {
    top: 30%;
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ff0000;
    background: -moz-linear-gradient(left, #ff0000 10%, rgba(255, 0, 0, 0) 42%);
    background: -webkit-linear-gradient(left, #ff0000 10%, rgba(255, 0, 0, 0) 42%);
    background: -o-linear-gradient(left, #ff0000 10%, rgba(255, 0, 0, 0) 42%);
    background: -ms-linear-gradient(left, #ff0000 10%, rgba(255, 0, 0, 0) 42%);
    background: linear-gradient(to right, #ff0000 10%, rgba(255, 0, 0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ff0000;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #272727;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*End Section Loading*/

/*Start Scroll Up*/
#scroll-top {
    color: #ddd;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 99999;
    cursor: pointer;
    display: none;
    opacity: 0.6;
}

#scroll-top:hover {
    opacity: 1;
}

/*End Scroll Up*/
/*Grouping System*/

h1,
.h1,
h2,
h3,
h4 {
    font-family: 'Droid Sans'
}

.dropdown-menu>li>a,
.testimonials .carousel-indicators li.active,
.our-team .team .person img:hover,
.statistics .data .stats,
.our-clients img,
.footer .social-list li {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.our-team,
.statistics,
.contact-us {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img,
.testimonials .carousel-indicators li img,
.footer .our-projects img,
.our-clients img,
.our-team .team .person img {
    object-fit: cover;
    object-position: center;
}